.orderBox {

    width: 30%;
    height: 330px;
    padding: 10px;
    box-shadow: var(--box-shadow);
    margin-left: 20px;
    margin-bottom: 10px;

  
}

.orderBox > .btn {
    height: 40px;
    min-width: 200px;
    border-radius: 3px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 20px;
    background: red;
}
.orderBox .description {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.description_details > p {
    text-transform: capitalize;
}


.description_details {
    display: flex;
    flex-direction: column;

}

.description_details  h3{
     margin-top: 8px;
}



.img_state > span {
    background: #75757A;
    color: #fff;
    text-transform: uppercase;
    font-size: .6875rem;
    display: block;
    padding: 2px 0;
    width: 80px;

    text-align: center;
}
.line + p {
    margin-top: 8px;
    text-transform: capitalize;
}

h2{
    margin-bottom: 20px;
}