.input_search_restaurants{
    background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  padding: 20px;
  font-size: .875rem;
  margin-right: 10px;
  color: #4a4a4a;
  width: 100%;
}

.home_header{
    display: flex;
    align-items: center;
}

.home_header > h2{
    margin-top: 20px;
    margin-left: 5px;
}

.restaurants_list > h2{
    color: #4a4a4a;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
    text-transform: capitalize;
    margin-top: 20px;
}

.restaurants_list > p {
    color: #afafaf;
}