.input_search_restaurants{
    background-color: #fff;
  border: 1px solid #ccc;
  outline: none;

  font-size: .875rem;
  margin-right: 10px;
  color: #4a4a4a;
  width: 100%;
  background-image: url('../../assets/images/map-spot.png');
  background-position: top 25px left 10px;
  background-repeat: no-repeat;
  background-size: 1.5em;
}

.home_header{
    display: flex;
    align-items: center;
}

.home_header > h2{
    margin-top: 20px;
    margin-left: 5px;
    text-transform: capitalize;
}
.restaurants_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.restaurants_list > h2{
    color: #4a4a4a;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
    text-transform: capitalize;
    margin-top: 20px;
}

.restaurants_list > p {
    color: #afafaf;
}

section > h2{
    text-transform: capitalize;
}

.home_header{
    background: #FFC043;
    margin-top: -40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/home_header.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.home_header > h2{
    margin-top: 20px;
}

.home_header input {
    width: 80%;
}
.section_header > h2{
    margin-top: 50px;
    font-size: 36px;
    font-weight: 700;
    font-family: UberMove, sans-serif;
    text-transform: capitalize;
}

.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_header a {
    text-transform: capitalize;
    text-decoration: underline;
    color: #000;
    font-size: 1.5m;
}

.icon-left-right{
    background: #E2E2E2;
    padding: 12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 15px;
}
