.offers {

   height: 100vh;   
   cursor: pointer;
}
.offers-content .slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.offers-description {
    display: flex;
    flex-direction: column;
}
.offers-description p {
    width: 70%;
}
.offers-img{
    flex: 1 1 45rem;
}

.offers-img img {
    width: 100%;

}
.offers-description h1{
font-size: 4rem;
}
.offers-description span {
    color:var(--primary-color);
}
.offers-description p {
    color: gray;
    font-weight: normal;
    line-height: 1.4;
}


.offers-description button {
    background-color:var(--primary-color);
    width: 150px;
    padding: 10px 0;
    border-radius: 4px;
    text-transform: capitalize;
    margin-top: 20px;
    
}
.offers-description button:hover {
    background-color: #fff;
    color: var(--primary-color);
    transition: background-color 2s;
    border: var(--primary-color) 1px solid;
}

@media (max-width: 991px){
    .offers {
      margin-top: 300px;
      padding: 80px 0;
    }
  }