header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    padding: 10px;
    border-radius: 13px;
    color: white;
    border:none;
    outline: none;
    min-width: 170px;
}

