header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    padding: 10px;
    border-radius: 13px;
    color: white;
    border:none;
    outline: none;
    min-width: 170px;
    display: block;
    text-decoration: none;
    background: var(--primary-color);
    text-align: center;
}

.search-dashboard{
    margin: 10px 0;
}