.dishes {
    background: #EEEEEE;
}
.dishes span{
    color: var(--primary-color);
    font-size: 2rem;
}


.dishes-header h2{
    font-size: 1.5rem;
    text-transform: uppercase;

}
.dishes-header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 991px){
    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}