.food_box{
    background: #fff;
    border: .1rem solid rgba(0, 0, 0 ,0.2);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);

}

.food_box .image{
    height: 20rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}
.food_box .image img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

.fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--secondary-color);
}


.content h3{
    color:var(--black);
    font-size: 2.5rem;
}

.content p{
    color:#666;
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1.5rem;
}
.content h3{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--secondary-color);
    text-transform: capitalize;
}
.btn-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
.btn-price > .price {
    font-size: 2rem;
}
.btn-price .btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background: var(--primary-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    text-transform: capitalize;
}
@media (max-width: 991px){
    .food_box{
        width: 100%;
    }
}