.header{
  box-shadow: 3px 0px 12px 0px rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

.header-content >a .logo_label {
    color: var(--primary-color);
    margin-left: 5px;
}
.menu {
   display: flex; 
}
.menu-icons {
    display: flex;
    align-items: center;
}
.menu-icons > .btn-login{
    color: #fff;
    background-color: #F54749;
    padding: 10px;
    border-radius: 20px;
    display: block;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.menu-icons >.icon {
    margin-right: 10px;
    color: #807B7C;
    cursor: pointer;
}
.btn-login > .icon {
    margin-right: 5px;
}
.menu > li > a {
      min-width: 200px;

      margin-left:8px;
      color: #888383;
}

.header-content .menu >li{
    margin-right: 20px;

}
.header-content>a{
    font-size: 20px;
    min-width: 200px;
}
.header-content > a > .logo {
    color: var(--primary-color);
    
}
.header-content > a > span {
    color: var(--secondry-color);
    font-weight: bold;
}

.menu .active {
    color:var(--primary-color);
    font-weight: bold;
}

.menu .active::after {
    content: "";
    display: block;
    background: var(--primary-color);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: auto;
    border-radius: 30px;
}



.menu-icons > a {
    color: var(--secondry-color);
    min-width:30px;
    font-size: 18px;
    text-align: center;
}
.menu-icons a > .fa-heart,.fa-shopping-cart, .fa-shopping-bag {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    margin-left: .5rem;
}
.menu-icons a > .fa-heart:hover,.fa-shopping-cart:hover,.fa-shopping-bag:hover {
    background-color: var(--primary-color);
    color: white;
    transition: .5s,background-color;
    transform: rotate(360deg);
}


#menu {
    margin-right: 10px;
    position: relative;   
    cursor: pointer;
}

.dropdown{
    position: absolute;
    display: none;
}
#menu:hover > .dropdown{
    display: block;
    background: #fff;
    border-radius: 10%;
    top: 25px;
    padding: 10px;
}
#menu> .dropdown > li > a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    width: 100%;
    
}
#menu> .dropdown > li > a:hover {
    color: var(--primary-color);
    
}
.notification{
    position: absolute;
    top: -5px;
    left: 32px;
    background: var(--primary-color);
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.fa-shopping-cart{
    position: relative;
}
.checkbtn{     
    line-height: 80px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;
}


@media (max-width: 952px){
 
    a{
        font-size: 16px;
    }
}

@media (max-width:885px) {
    /*.menu-toggle>*{
        width: 100%;
    }
    .menu-toggle{
        width: 100%;
    }
    .checkbtn{
        display: block;
    }
    .menu-icons{
        position: fixed;
        width: 100%;  
        top: 80px;
        left: 0px;
        display: none;
        text-align: center;
        transition:  all .5s;
    }
    .menu-icons a {
        display: block;
        line-height: 30px;
    }
    #check:checked ~ .menu-icons{
              display: block;  
              position: absolute;
              top: 10px;
              left: 0px;
    }*/
   
}