.form-login {
    margin: auto;
    width: 50%;

}
.form-login h2{
    color: var(--primary-color);
    text-align: left;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.form-login form {
    display: flex;
    flex-direction: column;
   
}

.form-login form input {
    border: none;
    outline: none;
    background-color: #eee;
}

input[type="text"]
{
    min-width: 200px;
    margin-bottom: 20px;
    padding: 10px;
}


.form-login form label {
    margin-bottom: 10px;
    color: gray;
    font-weight: normal;
    font-size: 1rem;
}

.form-login form a {
    color: var(--secondry-color);
    margin-bottom: 10px;
    font-size: 1rem;
    text-decoration: underline;
}

.form-login form input[type="submit"]{
    background: var(--primary-color);
    color: white;
    width: 30%;
    padding: 10px 0;
    border: none;
    border-radius: 3%;
}

